# Data Wrangling Assessment
As part of an assessment by a local company, I was tasked with transforming an SPSS database file into a more analysis-friendly format. As a side note, the data sample provided is available only in Spanish.

---
## Task Description

We received the preliminary results of a survey [(database in SPSS format)](#Additional-Notes-for-Readers) and need to process the output from the platform to adapt it to the analysis requirements.

The task consists of transforming the data to match the database structure presented below. This is the format used by our systems.

| Response_ID	| variable	| valor |
| --- | --- | --- |
| 54239204	| FF1	| Persona Física |
| 54239204	| FF2	| Si |
| 54239204	| FF3	| Si |
| 54239204	| FF4	| Servicios  Profesionales |
| 54239204	| FF5	| ENTRE $ 600.001 Y $ 1.000.000 |
| 54239204	| … |	… |
| 54239204	| A1	| Banco.15 |
| 54239204	| A1	| Banco.13 |
| 54239204	| A1	| Banco.16 |
| 54239204	| … |	… |

- Each response is a row associated with the Response_ID and the corresponding variable. The dataset should contain three columns and as many rows as needed.
- Multiple responses share the same variable value (refer to the file "Cuestionario Ejercicio BRN 2023.docx" for guidance). *--> Clarification for the reader: You can use the [SPSS database sample](#Additional-Notes-for-Readers) as guidance instead*

The final file must be in .csv format.

Additionally, include a brief explanation of the process followed to obtain the results.

There are no restrictions on the tools used for this task.

## Additional Notes for Readers:

<ins>**SPSS database sample**</ins>:

| responseID | FF2 | FF3 | FF4 | FF5_1 | FF7 | FF7_1 | FF7_2 | FF7_3 | FF7_4 | FF7_5 | FF7_6 | FF7_7 | FF7_8 | A2_1 | A2_2 | A3_1 | A3_2 | A9_1.Banco.1 | A9_2.Banco.2 | A9_3.Banco.3 | A9_4.Banco.4 | A9_5.Banco.5 | A9_6.Banco.6 | A9_7.Banco.7 | A9_9.Banco.9 | A9_10.Banco.10 | A9_13.Banco.13 | A9_15.Banco.15 | A9_16.Banco.16 | A9_17.Banco.17 | A9_20.Banco.20 | A9_24.Banco.24 | A9_25.Banco.25 | A9_29.Banco.29 | A9_42.Banco.42 | A9_71.Banco.71 | A9_84.Banco.84 | A9_74.Banco.74 | A9_44.Banco.44 | A9_90.Banco.90 | A9_91.Banco.91 | A10 | A13_1.Banco.1 | A13_2.Banco.2 | A13_3.Banco.3 | A13_4.Banco.4 | A13_5.Banco.5 | A13_6.Banco.6 | A13_7.Banco.7 | A13_9.Banco.9 | A13_10.Banco.10 | A13_13.Banco.13 | A13_15.Banco.15 | A13_16.Banco.16 | A13_17.Banco.17 | A13_20.Banco.20 | A13_24.Banco.24 | A13_25.Banco.25 | A13_29.Banco.29 | A13_42.Banco.42 | A13_71.Banco.71 | A13_84.Banco.84 | A13_74.Banco.74 | A13_44.Banco.44 | A13_90.Banco.90 | A13_91.Banco.91 |																																																																		
| --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- |																																																																		
| 56020150 | SI | SI. Duenoo o Socio/ Gerente/ Contador | Servicios no Profesionales | ENTRE $ 600.001 Y $ 1.000.000 | AMBA | GBA SUR |  |  |  |  |  |  |  | Banco.90 | Banco.15 | NS/NC |  |  |  |  |  |  |  |  |  |  |  | Banco.15 |  |  |  |  |  |  |  |  |  |  |  | Banco.90 |  | Banco.15 |  |  |  |  |  |  |  |  |  |  | 8 |  |  |  |  |  |  |  |  |  |  |  | 10 |  |																																																																		
| 56024025 | SI | SI. Duenoo o Socio/ Gerente/ Contador | Servicios  Profesionales | ENTRE $ 600.001 Y $ 1.000.000 | AMBA | GBA NORTE |  |  |  |  |  |  |  | Banco.3 | Banco.2 | Banco.7 | Banco.1 |  | Banco.2 | Banco.3 |  |  |  |  |  |  | Banco.13 |  |  |  |  |  |  |  |  |  |  |  |  | Banco.90 |  | Banco.2 |  | 10 | 10 |  |  |  |  |  |  | 8 |  |  |  |  |  |  |  |  |  |  |  |  | 10 |  |																																																																		
| 54638665 | SI | SI. Duenoo o Socio/ Gerente/ Contador | Servicios  Profesionales | ENTRE $ 1.000.001 Y $ 2.000.000 | AMBA | CABA NORTE |  |  |  |  |  |  |  | NS/NC |  | NS/NC |  |  |  | Banco.3 |  |  |  | Banco.7 |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  | Banco.3 |  |  | NS/NC |  |  |  | NS/NC |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |	

<ins>**variables**</ins>:

- FF2: *For your business activity, do you work with any bank?*
- FF3: *Are you the person ultimately responsible for the relationship with banks, that is, the decision-maker, in your company or business?*
- FF4: *From the following list, how is the activity you perform registered?*
- FF5_1: *What is the annual turnover range that corresponds to your activity/business?*
- FF7: *In what city is it located? Answers 1 through 8 represent different locations*
- A2: *Which do you think are the top 2 banks overall, whether you've worked with them or not?*
- A3: *Which banks do you think are the two worst overall, whether you've worked with them or not?*
- A9: *For both your activity/business and your personal operations, which bank(s) are you a client of?*
- A10: *Of all the banks you mentioned, which is the primary bank for your activity/business?*
- A13: *On a scale of 1 to 10, where 1 is Definitely would not recommend and 10 is Definitely would recommend, please indicate to what extent you would recommend XX*, where XX stands for each bank previously named by the interviewee

## Solution

As a first step I imported pandas so I could start editing the initial file

In [1]:
import pandas as pd

df = pd.read_excel(r'C:\Users\admin\Downloads\Python Projects\Projects\Brain Networks - Assessment\Base Ejercicio BRN 2023.xlsx')
df.head()

,responseID,FF2,FF3,FF4,FF5_1,FF7,FF7_1,FF7_2,FF7_3,FF7_4,...,A13_24.Banco.24,A13_25.Banco.25,A13_29.Banco.29,A13_42.Banco.42,A13_71.Banco.71,A13_84.Banco.84,A13_74.Banco.74,A13_44.Banco.44,A13_90.Banco.90,A13_91.Banco.91
0,56020150,SI,SI. Duenoo o Socio/ Gerente/ Contador,Servicios no Profesionales,ENTRE $ 600.001 Y $ 1.000.000,AMBA,GBA SUR,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,NaN
1,56024025,SI,SI. Duenoo o Socio/ Gerente/ Contador,Servicios Profesionales,ENTRE $ 600.001 Y $ 1.000.000,AMBA,GBA NORTE,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,NaN
2,54638665,SI,SI. Duenoo o Socio/ Gerente/ Contador,Servicios Profesionales,ENTRE $ 1.000.001 Y $ 2.000.000,AMBA,CABA NORTE,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,56022997,SI,SI. Duenoo o Socio/ Gerente/ Contador,Servicios Profesionales,ENTRE $ 2.000.001 Y $ 3.000.000,AMBA,GBA SUR,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,54630677,SI,SI. Duenoo o Socio/ Gerente/ Contador,Servicios no Profesionales,ENTRE $ 3.000.001 Y $ 5.000.000,Cordoba,NaN,NaN,NaN,NaN,...,NaN,NaN,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Initial pivoting

In [2]:
df_stack = df.set_index('responseID').stack().reset_index()
df_final = df_stack.rename(columns={'level_1':'variable', 0:'valor'})
df_final.head()

   responseID variable                                  valor
0    56020150      FF2                                     SI
1    56020150      FF3  SI. Duenoo o Socio/ Gerente/ Contador
2    56020150      FF4             Servicios no Profesionales
3    56020150    FF5_1          ENTRE $ 600.001 Y $ 1.000.000
4    56020150      FF7                                   AMBA

### Parsing A9 question

The variable "A9" had the bank (e.g."Banco 15") included, so I updated those rows to display only the question id.

In [3]:
A9_filter = df_final['variable'].str.startswith('A9_')

df_final[A9_filter].head()

    responseID        variable     valor
9     56020150  A9_15.Banco.15  Banco.15
10    56020150  A9_90.Banco.90  Banco.90
24    56024025    A9_2.Banco.2   Banco.2
25    56024025    A9_3.Banco.3   Banco.3
26    56024025  A9_13.Banco.13  Banco.13

In [4]:
df_final.loc[A9_filter, 'variable'] = 'A9'

df_final[A9_filter].head()

    responseID variable     valor
9     56020150       A9  Banco.15
10    56020150       A9  Banco.90
24    56024025       A9   Banco.2
25    56024025       A9   Banco.3
26    56024025       A9  Banco.13

### Parsing A13 question

Similar to Question A9, I had to parse the variable for clarity. The difference is that this time I need the bank chosen for Question A13 in the variable.

In [5]:
A13_filter = df_final['variable'].str.startswith('A13')

df_final[A13_filter].head()

    responseID         variable valor
12    56020150  A13_15.Banco.15   8.0
13    56020150  A13_90.Banco.90  10.0
29    56024025    A13_2.Banco.2    10
30    56024025    A13_3.Banco.3    10
31    56024025  A13_13.Banco.13     8

In [6]:
df_final["variable"] = df_final["variable"].str.replace(r"A13_\d+\.", "A13_", regex=True)
df_final[A13_filter].head()

    responseID      variable valor
12    56020150  A13_Banco.15   8.0
13    56020150  A13_Banco.90  10.0
29    56024025   A13_Banco.2    10
30    56024025   A13_Banco.3    10
31    56024025  A13_Banco.13     8